<%- include("./partials/navbar") %> 
<div class="container">
    <h1>Hello from Index view</h1>
    <% if (typeof errors !== "undefined") { %>
        <% errors.forEach(error => { %>
            <p class="error"><%= error.msg %> <%= error.param %></p>
        <% }); %> 
    <% } %>
    <% if (user) { %>
        <h2>Welcome back <%= user.name %>!</h2>
        <a href="/log-out">LOG OUT</a>
        <main class="main-messages">
            <form action="/" method="POST" class="form-message">
                <div class="form-group">
                    <input type="hidden" name="name" value="<%= user.name %>">
                    <label for="message" class="form-group__label">Your Message</label>
                    <input type="text" class="form-group__input" name="message">
                    <input type="submit" class="form-group__submit" value="Submit">
                </div>
            </form>
            <% if (messages) { %>

                <section class="messages">
                    <ul class="messages__list">
                        <% messages.forEach(message => { %>
                            <li class="messages__list__item">
                                <h3 class="messages__list__item__author"><%= message.name %> </h3>
                                <p class="messages__list__item__para"><%= message.message %></p>
                                <p class="messages__list__item__date"><%= message.date %></p>
                            </li>
                        <% }); %>
                    </ul>
                </section>

            <% } %> 
        </main>
    <% } %> 
</div>
<%- include("./partials/footer") %> 