<%- include("./partials/navbar") %> 
<div class="container">
    <section class="section-top">
        <h2 class="section-top__title">Welcome back <%= user.name %>!</h2>
        <a href="/log-out">LOG OUT</a>
    </section>
    <main class="main-messages">
        <form action="/" method="POST" class="form--message">
            <% if (typeof errors !== "undefined") { %>
                <% errors.forEach(error => { %>
                    <p class="error"><%= error.msg %> <%= error.param %></p>
                <% }); %> 
            <% } %>
            <% if (user) { %>
                <div class="form-group--message">
                    <input type="hidden" name="name" value="<%= user.name %>">
                    <input type="text" class="form-group__input--message" name="message">
                    <input type="submit" class="form-group__submit--message" value="+">
                </div>
            </form>
            <% if (messages) { %>
                <section class="messages">
                    <ul class="messages__list">
                        <% messages.forEach(message => { %>
                            <li class="messages__list__item">
                                <h3 class="messages__list__item__author">
                                    <%= message.name %> <span class="messages__list__item__date"><%= message.dateFormatted %></span>
                                </h3>
                                <p class="messages__list__item__para"><%= message.message %></p>
                            </li>
                        <% }); %>
                    </ul>
                </section>
            <% } %> 
        </main>
    <% } %> 
</div>
<%- include("./partials/footer") %> 